.text-wrapper {
  margin: 0;
  line-height: 1.4;
  color: #fff;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.text-wrapper--text-base {
  font-size: 16px;
}

.text-wrapper--text-lg {
  font-size: 16px;
}

.text-wrapper--text-xl {
  font-size: 20px;
}

.text-wrapper--text-white {
  color: #fff;
}

.text-wrapper--text-gray {
  color: #5e6c84;
}

.text-wrapper--text-black {
  color: #172b4d;
}

.text-wrapper--text-normal {
  font-weight: 400;
}

.text-wrapper--text-bold {
  font-weight: 600;
}
