.cardDetailsModal {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 48px auto;
  background-color: #f4f5f7;
}

.cardDetailsModal--header {
  display: flex;
  align-items: center;
}

.cardDetailsModal--cardDetails {
  display: flex;
}

.cardDetailsModal--details {
  flex: 2;
  display: flex;
  flex-direction: column;
}
