.cardChecklist {
  display: flex;
  flex-direction: column;
}

.cardChecklist--checklist {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.cardChecklist--header {
  display: flex;
  justify-content: space-between;
}

.cardChecklist--label {
  flex: 2;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}

.cardChecklist--listItems {
  margin-left: 35px;
}

.cardChecklist--listItems--Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardChecklist--Item {
  margin: 5px 0;
  flex: 2;

  &.completed {
    text-decoration: line-through;
  }
}