.addCardActionPanel {
  display: flex;
  flex-direction: column;
  padding: 4px;
  height: 100px;
}

.addCardActionPanel--panel {
  display: flex;
  width: 50%;
  margin: 5px;
  justify-content: space-between;
}